.main-div {
    margin-left: 80px;
    margin-right: 20px;
    scroll-behavior: smooth;
    margin-top: 25px;
    text-align: justify;
}

.main-header {
    text-align: center;
}

.main-about {
    text-align: center;
}

.main-heading-2 {
    text-align: center;
    margin-top: 25px;
}

.mdc-card {
    width: 100%;
    background-color: #7fcdf8;
}

.span-exp {
    color: rgb(76, 0, 255);
}

.temp {
    margin-left: 20px;
    margin-bottom: 20px;
}

.img-div {
    display: flex;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.git {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.git_old{
    width: 400px;
    height: 400px;
    margin-right: 20px;
}

p {
    margin-right: 20px;
    margin-bottom: 20px;
}

.ber {
    margin-right: 10px;
}

h4 {
    margin-top: 20px;
}

.u-main {
    margin-top: 20px;
}

.image-proj {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 225px;
    margin-top: 10px;
}